# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.local

# IDE - VS Code
.vscode/

# IDE - PyCharm
.idea/

# OS - Windows
Thumbs.db
desktop.ini

# Logs
*.log